*{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 50;
}
.App {
  text-align: center;
}
#main{
  background-color: papayawhip;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}
#counter{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50vw;
}
#form {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50vw;
}
button{
  margin: 0 2rem;
  border-radius: 5px;
}
#tortuga{
  width: 5rem;
}
