body {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contador {
  font-size: 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.contador button{
  width: 100px;
  margin-top: 10px;
}

.elform {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 80px
}

.elform input{
  display: flex;
  flex-direction: column;
}